html, body {
    scroll-behavior: smooth;
    font-family: 'Inter-Regular' !important;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 28px;
}

// TITLE COMPONENT
.title-wrapper {
    margin-bottom: 48px;

    .title {
        position: relative;
        width: fit-content;
        text-transform: capitalize;
        font-size: 48px;

        &::after {
            content: "";
            position: absolute;
            background-color: $purple-main;
            height: 6px;
            width: 40%;
            bottom: -8px;
            left: 0;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
        }
    }
}

// Bubble component
.bubble-promotion-wrapper {
    background-color: $yellow-main;
    color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 8px 24px;
    width: 200px;
    // position: absolute;
    left: 0;
    top: 0;

    .bubble-title {
        font-size: 14px;
        font-weight: 900;
    }

    .bubble-subtitle {
        font-size: 12px;
    }
}