.home-container {
    .banner-home {
        background: url('/bg-main.png');
        padding: 16px;
        padding-top: 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .text-one {
            margin-bottom: 120px;
            margin-left: 40%;
            margin-right: 80px;
        }

        .quotes {
            margin: 60px 80px;
        }

        .img {
            object-fit: contain;
            height: 210px;
            margin-left: 80px;
            margin-bottom: 48px;
        }

    }

    .about-container {
        background: rgb(82,113,255);
        background: linear-gradient(90deg, rgb(82, 113, 255) 84%, rgb(140, 82, 255) 93%, rgb(179, 107, 224) 100%);
        padding: 80px;

        .img {
            object-fit: contain;
            height: 500px;
        }
    }

    .pricing-container {
        padding: 80px;

        .subtitle {
            margin-bottom: 115px;
        }

        .pricing-list {
            margin: 48px 0;

            .price-item {
                border: 1px solid $border-color;
                padding: 24px;
                margin-right: 16px;
                width: 100%;
                min-height: 550px;

                display: flex;
                flex-direction: column;
                justify-content: inherit;

                .title-wrapper {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 24px;

                    .price {
                        font-size: 48px;
                        font-weight: 800;
                    }

                    .billed-text {
                        font-size: 18px;
                    }
                }

                .name {
                    font-size: 24px;
                }

                .feature-list {
                    margin-left: 24px;

                    li {
                        margin-bottom: 12px;
                        font-size: 18px;

                        &:before {
                            content: "\2022";
                            color: $blue-main;
                            font-weight: bold;
                            display: inline-block; 
                            width: 1em;
                            margin-left: -1em;
                        }
                    }
                }

                &.popular {
                    position: relative;
                    border-color: $blue-secondary;

                    &::after {
                        content: "Popular";
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                        font-size: 24px;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                        
                        background-color: $blue-secondary;
                        height: 15%;
                        width: calc(100% + 2px);
                        
                        position: absolute;
                        left: -1px;
                        top: -65px;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }

    .contact-container {
        margin: 50px 80px;
        text-align: center;
        color: white;
        background-color: $blue-secondary;
        padding: 32px 48px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        box-shadow: 10px 10px 10px 0px rgba(128,128,128,0.75);
        -webkit-box-shadow: 10px 10px 10px 0px rgba(128,128,128,0.75);
        -moz-box-shadow: 10px 10px 10px 0px rgba(128,128,128,0.75);

        .title, .subtitle {
            width: 55%;
            margin: 25px auto;
        }
    }
}