.footer-container {
    background-color: #F5F5F5;

    .text {
        min-height: 300px;

        .url {
            font-size: 16px;
            font-weight: 800;
            margin-bottom: 12px;
        }

        .sub-url {
            font-size: 14px;
            margin-bottom: 6px;
            color: #787878;
        }
    }
}