html, body {
    scroll-behavior: smooth;
    font-family: 'Inter-Regular' !important;
}

.title {
    font-size: 48px;
}

.subtitle {
    font-size: 28px;
}

.text-black {
    color: black !important;
}

.default-container-wrapper {
    padding: 80px;
}

.input-wrapper {
    margin-bottom: 16px;
    
    input {
        border: 2px solid $border-color;
        padding: 8px 16px;
        border-radius: 6px;
        margin: 8px 0;
        font-size: 16px;
        width: 100%;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;

        &.error-input {
            border-color: red;
            color: red;
        }
    }

    .label {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .error-field {
        font-size: 12px;
        color: red;
    }
}

// TITLE COMPONENT
.title-wrapper {
    margin-bottom: 48px;

    .title {
        position: relative;
        width: fit-content;
        text-transform: capitalize;
        font-size: 48px;

        &::after {
            content: "";
            position: absolute;
            background-color: $purple-main;
            height: 6px;
            width: 40%;
            bottom: -8px;
            left: 0;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
        }
    }
}

// Bubble component
.bubble-promotion-wrapper {
    background-color: $yellow-main;
    color: black;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 8px 24px;
    width: 200px;
    // position: absolute;
    left: 0;
    top: 0;

    .bubble-title {
        font-size: 14px;
        font-weight: 900;
    }

    .bubble-subtitle {
        font-size: 12px;
    }
}

// Button
.button-wrapper {
    .disabled {
        background-color: grey !important;
    }
}

// Pop up dialog
.popup-login-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: ease-in-out all 0.4s;
    transition: ease-in-out all 0.4s;
    -moz-transition: ease-in-out all 0.4s;
    -ms-transition: ease-in-out all 0.4s;
    -o-transition: ease-in-out all 0.4s;

    .backdrop {
        position: fixed;
        display: none;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        left: 0;
        overflow: auto;
        -webkit-transition: ease-in-out all 0.3s;
        transition: ease-in-out all 0.3s;
        -moz-transition: ease-in-out all 0.3s;
        -ms-transition: ease-in-out all 0.3s;
        -o-transition: ease-in-out all 0.3s;
}

    .modal {
        visibility: hidden;
        opacity: 0;
        display: unset;

        position: fixed;
        top: 50%;
        left: 50%;
        width: 35%;

        transform: translate(-50%, -50%);

        height: auto;
        background-color: white;
        box-shadow: 0px 0px 40px rgba(40, 40, 40, 0.06);
        border-radius: 8px;

        z-index: 20;
        overflow-y: auto;

        padding: 16px 24px;

        -webkit-transition: ease-in-out all 0.4s;
        transition: ease-in-out all 0.4s;

        .modal-content {
            width: 100%;
            height: auto;
            padding: 16px 0;
            position: relative;
            .button-close {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }


    &.show {
        visibility: visible;
        opacity: 1;
        -webkit-transition: ease-in-out all 0.4s;
        transition: ease-in-out all 0.4s;

        .modal {
            visibility: visible;
            opacity: 1;
            display: block;
            -webkit-transition: ease-in-out all 0.4s;
            transition: ease-in-out all 0.4s;
        }

        .backdrop {
            display: block;
            -webkit-transition: ease-in-out all 0.3s;
            transition: ease-in-out all 0.3s;
            cursor: pointer;
        }
    }
}